<div class="container">
  <div class="text-center">
    <h1>All Restaurants</h1>
  </div>
  <br>
  <div class="all"><% @restaurants.each do |restaurant| %>
    <div class="d-inline-flex p-2">
      <div class="card" style="height: 14rem; width: 14rem; justify-content: end; align-items: center">
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </div>
    </div>
        <% end %>
  </div>
  <br>
  <div class="text-center">
    <%= link_to "New Restaurant", new_restaurant_path, class: 'btn btn-success' %>
  </div>
</div>
